<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waitstaff Calculator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans|Righteous' rel='stylesheet' type='text/css'>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" type="text/javascript"></script>
</head>
<body ng-app='waitstaff-calc'>
    <div class="container" ng-controller='waitstaffCtrl'>
        <div class="row text-center">
            <h1>Waitstaff Calculator</h1>
        </div>
        <div class="row text-center">
            <div class="col-sm-5 border" id="meal-details">
                <h2>Enter the Meal Details</h2>
                <hr class="small"><br>
                <form name='calculator'>
                    <h4>Base Meal Price: <input class="form-control" type="number" name='price' ng-model='mealPrice' placeholder="price"></h4>
                    <h4>Tax Rate(%): <input type="number" class="form-control" name='tax-rate' ng-model='taxRate' placeholder="tax rate"></h4>
                    <h4>Tip Percentage(%): <input type="number" class="form-control" name='percentage' ng-model='tipPer' placeholder="percentage"></h4>
                    <div class="buttons">
                        <button class="btn btn-success" type='submit' ng-click="submitForm(); bool=true">Submit</button>
                        <button class="btn btn-warning" name="cancel" ng-click="cancelSubmit();">Cancel</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-6 border" id="meal-calc">
                <div>
                    <h2>Customer charges</h2>
                    <hr class="small">
                    <h4>Subtotal: {{ total | currency}}</h4>
                    <h4>Tip: {{tip | currency}}</h4>
                    <h4>Total: {{subTotal | currency}}</h4>
                </div>
                <div>
                    <h2>My earning Info</h2>
                    <hr class="small">
                    <h4>Tip Total: {{tipTotal | currency}}</h4>
                    <h4>Meal Count: {{mealCount}}</h4>
                    <h4>Avg Tip Per Meal:{{avg | currency}}</h4>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <button class="btn btn-primary" style="margin-top:1em; width:10em; height:3em; font-size:1.5em;" name="reset" ng-click="reset();">Reset</button>
        </div>
    </div>
    <script src="app.js" type="text/javascript"></script>
</body>
</html>