<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waitstaff Calculator</title>
    <!-- note that here we’re linking to a CDN version of Angular  -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" type="text/javascript"></script>
</head>
<body ng-app='waitstaff-calc'>
    <div class="container" ng-controller='waitstaffCtrl'>
        <h1>Enter the Meal Details</h1>
        <form name='calculator'>
            <p>Base Meal Price: <input type="number" name='price' ng-model='mealPrice' placeholder="price" required></p>
            <p>Tax Rate: <input type="number" name='tax-rate' ng-model='taxRate' placeholder="tax rate" required></p>
            <p>Percentage: <input type="number" name='percentage' ng-model='tipPer' placeholder="percentage" required></p>
            <button type='submit' ng-click="submitForm(); bool=true">Submit</button>
        </form>
        <div>
            <h1>Customer charges</h1>
            <p>Subtotal: {{ mealDetail.base }}</p>
            <p>Tip: ${{tip}}</p>
            <p>Total: ${{total}}</p>

        </div>
    </div>
    <script src="app.js" type="text/javascript"></script>
</body>
</html>