<div class="meal container text-center row border" id="new-meal" ng-controller='MealCtrl'>
    <div class="col-sm-6" id="meal-details">
        <h2>Enter the Meal Details</h2>
        <hr class="small"><br>
        <form name='calculator'>
        <div class="input-group">
            <span class="input-group-addon">Base Meal Price:</span><input class="form-control" type="number" name='price' ng-model='meal.price' placeholder="price" required=""><div class="input-group-addon">.00</div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Tax Rate:</span><input type="number" class="form-control" name='tax-rate' ng-model='meal.taxrate' placeholder="tax rate" required><div class="input-group-addon">%</div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Tip Percentage: </span><input type="number" class="form-control" name='percentage' ng-model='meal.tiprate' placeholder="percentage" required><div class="input-group-addon">%</div>
        </div>
            <div class="buttons">
                <button class="btn btn-success" type='submit' ng-click="onSubmit(); bool=true">Submit</button>
                <button class="btn btn-warning" name="cancel" ng-click="cancelSubmit();">Cancel</button>
            </div>
        </form>
    </div>
    <div class="col-sm-6" id= "cus-charges">
        <h2>Customer charges</h2>
        <hr class="small">
        <h4>Subtotal: {{ meal.subtotal() | currency}}</h4>
        <h4>Tip: {{meal.tip() | currency}}</h4>
        <h4>Total: {{meal.total() | currency}}</h4>
    </div>
</div>